goodbooze-model/com/goodbooze/ordermanager/createorder/createOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://goodbooze.com/ordermanager/createorder"
	xmlns:tns="http://goodbooze.com/ordermanager/createorder"
	elementFormDefault="qualified" >


	<xs:element name="CreateOrderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Input" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="CreateOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Output" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>